@model IEnumerable<ApartmaniService.DTO.RezervacijaDTO>

@{
    ViewBag.Title = "Pregled rezervacija";
}

<h2>Rezervacije za apartman</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImeGosta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrezimeGosta)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Od)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Do)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ImeGosta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrezimeGosta)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Od)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Do)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>

    </tr>
    }
</table>

